<ion-tabs>
    <ion-tab-bar slot="bottom">
        <ion-tab-button routerLink="/landing-page">
            <ion-icon name="home"></ion-icon>
            <ion-label>Home</ion-label>
        </ion-tab-button>

        <ion-tab-button routerLink="/recycler-list-page">
            <ion-icon name="list"></ion-icon>
            <ion-label>List</ion-label>
        </ion-tab-button>

        <ion-tab-button routerLink="/map-view-page">
            <ion-icon name="map"></ion-icon>
            <ion-label>Map</ion-label>
        </ion-tab-button>

        <ion-tab-button routerLink="/about">
            <ion-icon name="information-circle"></ion-icon>
            <ion-label>About</ion-label>
        </ion-tab-button>
    </ion-tab-bar>
</ion-tabs>