ion-list ion-item-sliding ion-item {
    display: flex;
    justify-content: space-between;
    margin: 0px;
    padding: 0px;
}

ion-list ion-item-sliding ion-item div ion-title {
    margin: 0px;
    padding: 0px;
}