<ion-header>
    <ion-toolbar>
        <ion-title>{{cityName}} Stations</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-list>
        <ion-item-sliding *ngFor="let station of stations; let i = index">
            <ion-item>
                <div>
                    <ion-title>{{station.name}}</ion-title>
                    <ion-text>{{station.address}}</ion-text>
                </div>
                <ion-icon #fav (click)="toggleFavorite(i)" name="star-outline" slot="end"></ion-icon>
            </ion-item>
            <ion-item-options>
                <ion-item-option (click)="onClickStation()" color="primary">
                    <ion-icon slot="top" name="map-outline"></ion-icon>
                    Map
                </ion-item-option>
                <ion-item-option color="secondary" (click)="showDetails(station)">
                    <ion-icon slot="top" ios="ellipsis-horizontal" md="ellipsis-vertical"></ion-icon>
                    Details
                </ion-item-option>
            </ion-item-options>
        </ion-item-sliding>
    </ion-list>
</ion-content>
<ion-toolbar>
    <app-tabs></app-tabs>
</ion-toolbar>