<ion-header>
    <ion-toolbar>
        <ion-title>Station finder</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <div class="container">
        <ion-item lines="none">
            <ion-label>Select City</ion-label>
            <ion-select value="dublin" interface="popover" (ionChange)="changedCity($event)">
                <ion-select-option [value]="contract.name" *ngFor="let contract of contracts">{{contract.name}}</ion-select-option>
            </ion-select>
        </ion-item>
        <ion-button (click)="loadStations()" expand="block" size="Large">load stations</ion-button>
    </div>

</ion-content>
<app-tabs></app-tabs>